* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}

:root {
  --shine-rest: -150%;
  --shine-start: -150%;
  --shine-end: 150%;
}

