.end-screen-icon {
  max-height: 512px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-screen-icon > * {
  max-height: 512px;
  max-width: 100%;
  width: 100% !important;
  height: auto !important;
}

.end-screen-icon > img {
  display: block;
  object-fit: contain;
}

.end-screen-icon > svg {
  display: block;
}

.end-screen-icon * {
  font-size: inherit !important;
  line-height: inherit !important;
}
