@import './tailwind.css';

/* Prevent dragging images (asset copying UX) */
img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  -webkit-touch-callout: none;
}

html,
body {
  overscroll-behavior-x: none;
  overflow-x: hidden;
  touch-action: pan-y pinch-zoom;
}
